main{
	
}

@media (max-width: 991px) {  
	section#home-sobre{
	    background-size: auto !important; 
	} 
	div.row{
		margin-bottom:0 !important;
	}
	section#solucoes-detalhes{
		padding-left:15px;
	}
	section#home-mobidata{

		div.anima-i{
			display: none;
		}
	}

	section#sobre{
		div.container{
			background-image:none;
		}
	}
}

@media (min-width: 992px) {  
  
}
