.checkout-button{
    @extend .btn;
    background-color:$color2;
    color:$color1;
    border:1px solid $color2;
}

.checkout-button:hover{
    color:$color2;
    background-color:#FFF;
}

input.alt{
    @extend .btn;
    background-color:$color2;
    color:$color1;
    border:1px solid $color2;
}

input.alt:hover{
    color:$color2;
    cursor: pointer;
    background-color:#FFF;
}

button.single_add_to_cart_button{
    @extend .btn;
    background-color:$color3;
    color:#FFF;
    border:1px solid $color3;
    border-radius:0;
    padding:10px 25px;
}

button.single_add_to_cart_button:hover{
    color:$color3;
    cursor: pointer;
    background-color:#FFF;
}

.woocommerce-MyAccount-content{
  .button{
    @extend .btn;
    @extend .btn-dark;
    color:#FFF !important;
  }
}

.checkout{
  .button{
      @extend .btn;
      @extend .btn-dark;
  }
  .button:hover{
      cursor: pointer;
  }
}

.shipping-calculator-form{
    .button{
        @extend .btn;
        @extend .btn-dark;
    }
    .button:hover{
        cursor: pointer;
    }
}

.btn, .button{
  border-radius:0;
}

.btn-yellow{
    @extend .btn;
    background-color:$color2;
    color:$color1;
    border:1px solid $color2;
    &:hover{
        color:$color2;
        cursor: pointer;
        background-color:#FFF;
    }
}

.btn-green{
    @extend .btn;
    background-color:$color3;
    color:#FFF;
    border:1px solid $color3;
    border-radius:0;
    padding:10px 25px;
    &:hover{
        color:$color3;
        cursor: pointer;
        background-color:#FFF;
    }
}

.input-green{
    border:1px solid #009045;
    padding:10px;
    width:100%;
}

