body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:#858585;
    text-align:center;
}

a{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

a:hover{
	text-decoration:none;
}

ul{
	padding:0;
	list-style-type:none;
}

h1,h2,h3,h4,h5{
	margin:0;
}

h5{
	font-size:1em;
	font-weight:bold;
}

.wow {
    visibility: hidden;
}

.box{
	border-radius: 5px;
	border:1px solid rgba(0,0,0,.1);
	padding:10px;
}

.e-cinza:hover{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.e-claro:hover{
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.botao{
  background-color:$color2;
  color:$color1;
  border:1px solid $color2;
  display:inline-block;
  padding:8px;
  width:100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size:14px;
  cursor:pointer;
}

.botao:hover{
  color:$color2;
  background-color:#FFF;
}
