#header{
	margin-bottom:10px;

	#topo{
		background-color:#009045;
		padding: 10px 0;
		position:relative;

		.topo-menu{
			margin-bottom:15px;

			a{
				font-size:14px;
				color:#e4e407;
			}
			a:hover{
				color:#FFF;
			}
		}

		.topo-pesquisa{
			.search-form{
				.search-input{
					float:left;
					border: 0;
	    			padding: 7.8px;
				}
				.search-submit{
					float:left;
				}
			}

			.cart-item{

				.cart{
					float:left;
				}
				.number{
					float:left;
					width:100px;
					background-color:#FFF;
					a{
						display:block;
						padding:8px 0;
					}
				}
			}
		}
	}
	nav{
		background-color:#e4e407;

		a{
			color:#005337;
			display:block;
			padding:10px 0;
		}

		a:hover{
			background-color:#F1F181;
		}
	}
	#menu{
		background-color:#005337;

		a{
			color:#FFFFFF;
			font-size:14px;
			display:block;
			padding:10px 5px;
		}

		a:hover{
			color:#e4e407;
		}
	}
}

.minha-conta{
  padding:40px 0;

  h1{
    color:#005337;
    font-size:20px;
    font-weight:bold;
    text-align:left;
    padding-bottom:40px;
  }
  h2{
    color:#005337;
    font-size:16px;
    font-weight:bold;
    text-align:left;
    padding-bottom:20px;
  }

  .lost_password, .duvidas{
    text-align:left;
    a{
      color:#ababab;
      font-size:14px;
    }
  }
}

.pag-padrao{
  padding:40px 0;

  h1{
    color:#005337;
    font-size:20px;
    font-weight:bold;
    text-align:left;
    padding-bottom:40px;
  }
  h2{
    color:#005337;
    font-size:16px;
    font-weight:bold;
    text-align:left;
    padding-bottom:20px;
  }

  .input-text, input{
    margin-bottom:10px;
  }
}

.banner{
  margin-bottom:10px;
}
.publicidade{
  margin-bottom:60px;
}

.news{
  background-color:#005337;
  padding:40px 0;
}

.paddtop{
  padding-top:60px;
}

.prods, ul.products{
  .prod, li.product{

    .wrap{
      padding:0px 10px;
      display:block;
      margin-bottom:60px;
    }

    h2{
      font-size:16px;
      color:#565656;
      font-weight:bold;
      margin-bottom:15px;
    }

    .preco,.price{
      color:#005337;
      font-size:16px;
      font-weight:bold;
      padding:15px 0;
      display:inline-block;
    }
  }
}

#footer{
	font-size:14px;
	margin-top:10px;

	h5{
		margin-bottom:10px;
	}

	#footer-menu{
		text-align:left;
		background-color:#e4e407;
		color:#005337;
		padding:50px 0;

		a{
			color:#005337;
		}

		a:hover{
			color:#00B476;
		}

		ul{
			li{
				margin-bottom:5px;
			}
		}

		.cat{
			@extend .row;

			li{
				@extend .col-md-6;
			}
		}

		.acompanhe{
			a{
				margin-right:10px;
			}
		}
	}
	#footer-extra{
		background-color:#FFF;
		padding:50px 0;

		h5{
			color:#005337;
		}

		.tel{
			font-size:16px;
			font-weight:bold;
		}
	}
	#footer-copy{
		background-color:#005337;
		padding:15px 0;
		color:#FFF;
	}
}

@include media-breakpoint-up(md) {
  .menu-open{
    display:none !important;
  }
}

@include media-breakpoint-down(md) {
  #header{
    .topo-menu{
      display:none;
    }
    .logo{
      width:200px;
      margin-bottom:20px;
    }
    .search-form{
      display:none;
    }
    nav{
      display:none;
    }
    #menu{
      display:none;
    }
  }
  .news{
    img{
      margin-bottom:10px;
    }
    input{
      margin-bottom:10px;
    }
  }
}